.cardClass{
    width: 25%;
    height: 100%;
    /* background-color: black; */
    /* padding-top: 5%; */
    display: flex;
    flex-direction: column;
    /* border-color:rgb(241, 146, 57) ; */
    /* border: solid; */
    /* border-radius: 5px; */
    border-radius: 5px;
    border-bottom: 1px solid rgb(241 , 146,57);
}
.btnHover:hover{  
  background-color:rgb(241 , 146,57);;
  color: white;
  border: 5px solid bl;
  
}
.arrowBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.divPos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btnHover{
 color: black;
 margin-top: 5%;
 margin-bottom: 3%;
}
.cardsPos{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.cardImage{
    background-color: blue;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
}
/* 
border-style: solid;
border-radius: 50%;
border-width: 10px;
align-content: center;
border-color: white;

width: 15%; */
.img{
    /* border: 5px solid; */
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    /* align-content: center; */
    border-color: white;
    width: 35%;
    margin-bottom: 5px;
    
    box-shadow: 5px 5px 10px black;
  }
.cardHeader{
    width: 100%;
    height: 5%;
    background-color:#FF5722 ;
    padding-top: 10%;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;

}
.total{
    display: flex;
    padding: 2%;
    justify-content: space-between;

}

.cardHeader > span{
    color: white
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  .girdDiv{
    width: 80%;
    margin-top: 5%;
    align-items: center;
    margin-left: 10%;
  }

  .btn{
    padding: 10px;
    margin-left: 73%;
  }


.cardContend{
    background-color: red ;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    
    justify-content: space-evenly;
    /* width: 18%;
    height: 5%; */
    background-color:white ;
}

.cardClass :hover{
    box-shadow: 5px 5px 10px black;
}

/* for mobile view */
@media only screen and (max-width: 560px) {
    .cardClass{
        width: 94%;
        height: 100%;
        /* background-color: black; */
        /* padding-top: 5%; */
        display: flex;
        flex-direction: column;
        /* border-color:rgb(241, 146, 57) ; */
        /* border: solid; */
        /* border-radius: 5px; */
        border-radius: 5px;
        border-bottom: 1px solid rgb(241 , 146,57);
    }
}

