p {
    font-family: Lato;
  }
  agm-map {
    height: 300px;
  }
  
  ::ng-deep.mat-dialog-container {
    /* padding: 5px !important;
    height: 100%;
    width: 100%; */
    overflow: hidden;
  }
  ::ng-deep.mat-toolbar-row, .mat-toolbar-single-row {
    height: 50px;
    display: flex;
border-radius:  25px;
    justify-content: space-between;
    align-items: center;

}