table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  .girdDiv{
    width: 80%;
    margin-top: 5%;
    align-items: center;
    margin-left: 10%;
  }

  .btn{
    padding: 10px;
    margin-left: 73%;
  }
